<div id="paginationHeader"></div>
<div id="productsTable">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="sortable sort-asc" id="name">Product Name</th>
            <th class="sortable" id="category">Category</th>
            <th class="sortable" id="releaseDate">Release Date</th>
            <th class="sortable" id="price">Price</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="paginationFooter"></div>
<div id="paginationArrows"></div>


