.sort-asc:after {
    content: ' \25BC';   /* ▼  */
}

.sort-desc:after {
    content: ' \25B2';   /* ▲  */
}

.sortable:hover{
    cursor: pointer;
}

#paginationFooter {
    float: left;
}

#paginationArrows {
    float: right;
}

#productsOnPage {
    width: 40px;
}

.arrow.disabled {
    opacity: 0.6;
}

.arrow.active {
    cursor: pointer;
}